/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml
/.ddev/.dbimageBuild/
/.ddev/.webimageBuild/
/.idea/
/.vscode/settings.json
.env
.DS_Store
*.log
/phpunit.xml
